* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #b48eb9, #9b598cee);
}

.cards {
    max-width: 50rem;
    height: auto;
}

td {
    vertical-align: middle;
}

.flip-card-3D-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

#flip-card {
    width: 100%;
    height: 100%;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#flip-card .flip-card-front,
#flip-card .flip-card-back {
    width: 100%;
    height: auto;
    min-height: 40em;
    position: absolute;
    backface-visibility: hidden;
    z-index: 2;
}

#flip-card .flip-card-back {
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#flip-card {
    min-height: 50em;
}

.fechaTurno {
    max-width: 10rem;
    border: none;
}

.litepicker .container__months {
    background-color: rgba(240, 255, 255, 0.247);
    backdrop-filter: blur(10px);
}

#descTextarea {
    min-height: 4em;
    max-height: 8em;
}

#panelConfig {
    background-image: linear-gradient(45deg, #7d6081, #854877ee);
}

.card-header-servicios {
    padding: 0;
}

.btn-borrar-servicio {
    color: rgb(172, 38, 38) !important;
    background-color: rgba(255, 145, 0, 0.192);
    transition: 200ms;
    border-radius: 0 8px 0 0 !important;
    border-left: 1px solid #9f819d;
}

.btn-borrar-servicio:hover {
    filter: brightness(20%);
    background-color: rgba(221, 174, 45, 0.548) !important;
    transition: 200ms;
    color: rgb(255, 255, 255) !important;
}

.arrow {
    width: 1.5rem;
    rotate: 180deg;
    filter: invert(100%);
    cursor: pointer;
}

.btn-borrar-turno {
    color: rgb(172, 38, 38) !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.div-ayuda-config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ayuda {
    background-color: #be9bbc;
    border-radius: 50%;
}

.scale {
    transition: 100ms;
}

.scale:active {
    scale: 0.8;
    transition: 100ms;
    filter: brightness(97%);
}

.jello-horizontal:hover {
    cursor: help;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.rotate-90-cw:hover {
    -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

html[data-theme="dark"] {
    --bg: #93739b;
    --bg-panel: #a380a3;
    --color-headings: #d694d8ee;
    --color-text: #b5b5b5;
    filter: hue-rotate(240deg);
    -webkit-filter: hue-rotate(240deg);
    -moz-filter: hue-rotate(240deg);
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-blue-mode {
    cursor: pointer;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

.label-blue-mode:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--color-headings);
}
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}

@media (max-width: 30em) {
    .card {
        border-radius: 0%;
    }

    table {
        width: 100%;
        border-color: transparent !important;
    }

    table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    table thead {
        display: none;
    }

    #flip-card {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes rotate-90-cw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes rotate-90-cw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
